set(autostart ${EXTN_MESSAGINGCONTROL_AUTOSTART})
map()
  
  if(EXTN_MESSAGINGCONTROL_CONSOLE)
    kv(console ${EXTN_MESSAGINGCONTROL_CONSOLE})
  endif()

  if(EXTN_MESSAGINGCONTROL_SYSLOG)
    kv(syslog ${EXTN_MESSAGINGCONTROL_SYSLOG})
  endif()

  if(EXTN_MESSAGINGCONTROL_FILENAME)
    kv(filepath ${EXTN_MESSAGINGCONTROL_FILENAME})
  endif()

  if(EXTN_MESSAGINGCONTROL_ABBREVIATED)
    kv(abbreviated ${EXTN_MESSAGINGCONTROL_ABBREVIATED})
  endif()

  kv(maxexportconnections ${EXTN_MESSAGINGCONTROL_MAX_EXPORTCONNECTIONS})

  if(EXTN_MESSAGINGCONTROL_REMOTE)
  key(remote)
  map()
    kv(port ${EXTN_MESSAGINGCONTROL_PORT})
    kv(binding ${EXTN_MESSAGINGCONTROL_BINDING})
  end()
  endif()
  
end()
ans(configuration)
