set(autostart ${EXT_MESSAGINGCONTROL_AUTOSTART})
map()
  
  if(EXT_MESSAGINGCONTROL_CONSOLE)
    kv(console ${EXT_MESSAGINGCONTROL_CONSOLE})
  endif()

  if(EXT_MESSAGINGCONTROL_SYSLOG)
    kv(syslog ${EXT_MESSAGINGCONTROL_SYSLOG})
  endif()

  if(EXT_MESSAGINGCONTROL_FILENAME)
    kv(filepath ${EXT_MESSAGINGCONTROL_FILENAME})
  endif()

  if(EXT_MESSAGINGCONTROL_ABBREVIATED)
    kv(abbreviated ${EXT_MESSAGINGCONTROL_ABBREVIATED})
  endif()

  kv(maxexportconnections ${EXT_MESSAGINGCONTROL_MAX_EXPORTCONNECTIONS})

  if(EXT_MESSAGINGCONTROL_REMOTE)
  key(remote)
  map()
    kv(port ${EXT_MESSAGINGCONTROL_PORT})
    kv(binding ${EXT_MESSAGINGCONTROL_BINDING})
  end()
  endif()
  
end()
ans(configuration)
